<div class="info-container">
    <div class="info">
        <h1>A warm welcome to Hotel Manofa, Amsterdam</h1>
        <p>Amsterdam is the city of youth, great architecture and, of course,
            exciting night-life and great business opportunities. It does not matter if you 
            come to Amsterdam to party, or to explore all its beautiful sights like the world-famous 
            canals or historical buildings. Amsterdam and the people who live there extend you a friendly
             welcome. Most people in Amsterdam speak English as a second language and are always able and 
             willing to help you to find your way in their city.</p>
        <p>Hotel Manofa, situated in the heart of Amsterdam, is a two-star hotel.
            We offer comfortable accommodation to every kind of traveller to Amsterdam, be they here for
             business or pleasure. All our rooms have a private bathroom. Our hotel offers several types 
             of rooms for one to four guests. We have no elevator, but the well-known Amsterdam stairs.</p>
        <p>We have a 24-hour multilingual reception staff that will warmly welcome you to our 
            hotel and help you with your visiting plans.</p>
    </div>
    <div class="panels">
        <div class="discount-panel">
            <h2>10% discount</h2>
            <img src="/assets/logo-de-markies.png" alt="">
        </div>
        <div class="rooms-panel">
            <h2>Rooms</h2>
            <img src="/assets/triple.jpg" alt="">
        </div>
    </div>
    <div class="sm-panels">
        <div class="prefered">
            <p>Preferred hotel in Amsterdam</p>
        </div>
        <div class="rate">
            <p>Total score:</p>
            <h4>8.5</h4>
            <p>☆ ☆ ☆ ☆ ☆</p>
        </div>
    </div>
</div>