<div class="sidebar">
    <div class="logo">
        <img src="assets/logo.png" alt="">
    </div>
    <div class="menu">
        <hr>
        <a routerLink="welcome" class="menu-item">Welcome</a>
        <hr>
        <a class="menu-item">Hotel</a>
        <hr>
        <a routerLink="rooms" class="menu-item">Rooms</a>
        <hr>
        <a class="menu-item">Location</a>
        <hr>
        <a class="menu-item">Restaurant</a>
        <hr>
        <a routerLink="contact" class="menu-item">Contact</a>
        <hr>
    </div>
    <div class="footer">
        <p>Damrak 46-48 1012 LL Amsterdam</p>
        <p>+31 20 622 09 90</p>
        <p><u>frontdesk&#64;manofa-hotel.com</u></p>
        <p class="clickable terms">Terms and Conditions</p>
        <p class="clickable">Reviews</p>
        <p class="clickable">Website by Hoteliers.com</p>
        <select name="languages" id="language-select">
            <option value="English">English</option>
            <option value="Georgian">Georgian</option>
        </select>
    </div>
</div>